.name{
    background-color: pink;
    color: #000;
    position: absolute;
    transition: all 0.2s linear;
}

.name:hover{
    background-color: pink;
    transform: translate(5%,5%);
    color: red;
}